<footer>
 
    <div class="sec">
        <h2>My Application</h2>
        <p>Travel And Tourism WebSite. Just Visit places and enjoy nature</p>
    </div>
    <div class="sec">
        <h2>Navabar Links</h2>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Sign In</a></li>
                </ul>
           
    
    </div>
    <div class="sec">
        <h2>Contact Us</h2>
        <ul>
            <!-- <li>abc123@gmail.com</li> -->
            <li>1234567890</li>
            <li>Angular Platform , Hyderabad</li>
        </ul>
    </div>
    
    </footer>
    
