<h2>Travel and Tourism <br>
    In nature, nothing is perfect
    and everything is perfect</h2>

<div class="card-container">


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/TourismPlaces.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tourism Places</h5>
      <p class="card-text">Tourism Places is a captivating destination offering diverse landscapes and cultural experiences. From breathtaking natural wonders to historic landmarks, it provides a rich tapestry of exploration. Visitors can immerse themselves in vibrant local traditions,
         savor unique cuisines, and create lasting memories amid the charm of this enchanting locale.</p>
    </div>
    
    
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/Hotel.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hotels</h5>
      <p class="card-text">Discover unparalleled comfort and luxury at our hotels. Immerse yourself in refined elegance and impeccable service. Our accommodations cater to every need, offering modern amenities and exquisite dining options. Whether for business or leisure,
         our hotels provide a haven of relaxation, ensuring an unforgettable and indulgent stay for every guest.</p>
    </div>
    
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/car.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vehicles</h5>
      <p class="card-text">Embark on a journey of freedom and convenience with our vehicles. From sleek sedans to rugged SUVs, our fleet offers a perfect ride for every adventure. Enjoy advanced features, reliable performance, and a seamless driving experience.
         Whether for daily commutes or road trips, our vehicles redefine travel with style and reliability.</p>
    </div>
    
   
  </div>
</div>