/* .card-container {
    display: flex;
    justify-content: space-between; 
  }
  
  .card {
     width: 50%;
    margin-right: 40px;  

    height: 50%;
    width: 100%;
  } */
  .card-container {
    display: flex;
  }
  
  .card {
    flex: 1;

    width: 18rem;
    margin-right: 0; /* Remove any margin */
  }
  