<h2>View User Detailes</h2>

<div>
    <div>
        <label><b>FirstName:</b></label> {{employee.firstname}}

    </div>
    <div>
        <label><b>LastName:</b></label> {{employee.lastname}}

    </div>
    <div>
        <label><b>Email:</b></label> {{employee.email}}

    </div>
    <div>
        <label><b>Contact:</b></label> {{employee.contact}}

    </div>
    <div>
        <label><b>PassWord:</b></label> {{employee.password}}

    </div>
    <div>
        <label><b>Gender:</b></label> {{employee.gender}}

    </div>
</div>
