<div class="col-md-8 offset-md-2">
   
<h3>Update Employee</h3>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>FirstName:</label>
        <input type="text" class="form-control" id="firstname"
        [(ngModel)]=" employee1.firstname" name="firstname">
    
    </div>
    <div class="form-group">
        <label>LastName:</label>
        <input type="text" class="form-control" id="lastname"
        [(ngModel)]=" employee1.lastname" name="lastname">
    
    </div>
    
    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" id="email"
        [(ngModel)]=" employee1.email" name="email">
    
    </div>
    <div class="form-group">
        <label>Contact:</label>
        <input type="text" class="form-control" id="contact"
        [(ngModel)]=" employee1.contact" name="contact">
    
    </div>
    <div class="form-group">
        <label>PassWord:</label>
        <input type="text" class="form-control" id="PassWord"
        [(ngModel)]=" employee1.password" name="PassWord">
    
    </div>
    <div class="form-group">
        <label>Gender:</label>
        <input type="text" class="form-control" id="gender"
        [(ngModel)]=" employee1.gender" name="gender">
    
    </div>
    <button type="submit" class="btn-btn-success">Submit</button>
    </form>
</div>
      
    
